{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'IG.icon.ico' %}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Admin</title>
</head>

<body>
    <div class="container">
        <aside>
            <div class="top">
                <div class="logo">
                    <h2>DWD <span class="danger">CORP</span> </h2>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp"> close</span>
                </div>
            </div>

            <div class="sidebar">
                <a href="{% url 'admin-dashboard' %}">
                    <span class="material-icons-sharp">home</span>
                    <h3>Página Inicial</h3>
                </a>
                <a href="{% url 'admin-dashboard-turmas' %}" class="active">
                    <span class="material-icons-sharp">fact_check</span>
                    <h3>Turmas</h3>
                </a>
                <a href="{% url 'admin-dashboard-classes' %}">
                    <span class="material-icons-sharp">receipt_long</span>
                    <h3>Classes</h3>
                </a>
                <a href="{% url 'admin-dashboard-professores' %}">
                    <span class="material-icons-sharp">groups_2</span>
                    <h3>Professores</h3>
                </a>
                <a href="{% url 'admin-dashboard-disciplinas' %}">
                    <span class="material-icons-sharp">summarize</span>
                    <h3>Disciplinas</h3>
                </a>
                <a href="{% url 'admin-dashboard-curso' %}">
                    <span class="material-icons-sharp">school</span>
                    <h3>Cursos</h3>
                </a>
                <a href="{% url 'admin-dashboard-alunos' %}">
                    <span class="material-icons-sharp">diversity_3</span>
                    <h3>Alunos</h3>
                </a>

                <a href="{% url 'logout' %}">
                    <span class="material-icons-sharp">logout</span>
                    <h3>Terminar sessão</h3>
                </a>

            </div>
        </aside>

        <!-------------- END OF ASIDE ----------------->

        <main>

            <h1>Dashboard</h1>

            <div class="date">
                <input type="date" id="dataAtual">
            </div>

            <div class="insights">
                <div class="dp">
                    <span class="material-icons-sharp">analytics</span>
                    <div class="middle">
                        <div class="left">
                            <h3> Total De Professores</h3>
                            <h1> {{professores.count}}</h1>
                        </div>

                    </div>
                    <small class="text-muted">Da Respectiva Tabela</small>
                </div>
                <!---------------------- END OF DP ------------------------>

                <!---------------------- END OF DC ------------------------>
            </div>
            <!---------------------- END OF INSIGHTS ------------------------>

            <div class="recent-order">
                <h2>Tabela dos Professores</h2>

                <table>

                    <thead>
                        <div class="links">
                            <a href="{% url 'create-professor'  %}" class="menu__link">Criar Professor</a>
                            <a href="{% url 'create-professor-turma'  %}" class="menu__link">Adicionar turma a um professor</a>
                            <a href="{% url 'create-professor-disciplina'  %}" class="menu__link">Adicionar disciplina a um professor</a>
                        </div>

                        <tr>
                            <th>Professor id</th>
                            <th>Professor Nome</th>
                            <th>Turmas do professor</th>
                            <th>Disiciplinas do professor</th>

                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for professor in page.object_list %}
                        <tr>
                            <td>{{ professor.pk }}</td>
                            <td><a href="{% url 'update-professor' professor.pk %}" class='btn'>{{ professor.nome }}</a>

                            </td>


                            <td>{% for turma in turmas %}
                                {% if professor.pk == turma.professor_id.id %}

                                <a href="{% url 'delete-professor-turma' turma.pk %}"
                                    style="color: rgba(240, 58, 58, 0.741);">{{ turma.turma_id.nome }} </a>


                                {% endif %}
                                {% endfor %}

                            </td>



                            <td>
                                {% for disciplina in disciplinas %}
                                {% if professor.pk == disciplina.professor_id.id %}
                                <a href="{% url 'delete-professor-disciplina' disciplina.pk %}"
                                    style="color: rgba(240, 58, 58, 0.741);">{{ disciplina.disciplina_id.nome }} </a>

                                {% endif %}
                                {% endfor %}
                            </td>

                            <td>
                                <a href="{% url 'delete-professor' professor.pk %}" class='btn'
                                    style="color:rgba(240, 58, 58, 0.741);">Apagar professor</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div class="links">
                    {% if page.has_previous %}
                            <a href="{% url 'admin-dashboard-professores'  %}?page={{page.previous_page_number}}"
                                class="menu__link">Página Anterior</a>


                            {% endif %}
                            {% if page.has_next %}
                            <a href="{% url 'admin-dashboard-professores'  %}?page={{page.next_page_number}}"
                                class="menu__link">Próxima Página</a>

                            {% endif %}
                </div>

            </div>
        </main>
        <!---------------------- END OF MAIN ------------------------>

        <div class="right">
            <div class="top">
                <button id="menu-btn">
                    <span class="material-icons-sharp">menu</span>
                </button>
                <div class="theme-toggler">
                    <span class="material-icons-sharp active">light_mode</span>
                    <span class="material-icons-sharp">dark_mode</span>
                </div>
                <div class="profile">
                    <div class="info">
                        <p>Hey, <b>Helder</b></p>
                        <small class="text-muted">Admin</small>
                    </div>
                    <div class="profile-photo">
                        <img src="{% static 'vista-de-3d-jovem-estudante-de-escola_23-2151103679.avif' %}">
                    </div>
                </div>
            </div>
            <!---------------------- END OF TOP ------------------------>
        </div>
    </div>



    <script src="{% static 'yh.js' %}"></script>
    <script src="{% static 'order.js' %}"></script>
    <script src="{% static 'modalUser.js' %}"></script>
    <script>
        function hoje() {
            const today = new Date();
            const year = today.getFullYear();
            const month = String(today.getMonth() + 1).padStart(2, '0');
            const day = String(today.getDate()).padStart(2, '0');
            const todayString = `${year}-${month}-${day}`;

            document.getElementById('dataAtual').value = todayString;
        }

        window.onload = hoje;
    </script>


</body>
</html>